apiVersion: v1
kind: Service
metadata:
  name: aks-api-service
  labels:
    app: aks-api
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "false"
spec:
  type: LoadBalancer
  selector:
    app: aks-api
    version: v1
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  sessionAffinity: None
